.slideNews{
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    gap: 20px;
    background-color: transparent;
    padding: 10px;
   
}
.slideNews::-webkit-scrollbar{
    display: none;
}
.divSlide>img{
width: 350px;
height: 600px;
border-radius: 20px;
}
.divSlide{
    width: 350px;
    border-radius: 20px;
    height: 600px;
}
.textOnImageDiv{
    position: relative;
background-color: transparent;
color: white;
padding: 5px;
bottom: 35%;
}
.btnBack{
    height: 30px;
    position: fixed;
  top: 2%;
}
@media (max-width:365px) {
    .slideNews{
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        gap: 20px;
        background-color: transparent;
        padding: 10px;
    }
    .divSlide>img{
        width: 100%;
        height: 600px;
        border-radius: 20px;
        }
        .divSlide{
            width: 100%;
            border-radius: 20px;
            height: 600px;
        }
}
